/* App.css */
body {
  font-family: Arial, sans-serif;
  background-color: #f8f9fa;
}

h1 {
  margin-bottom: 20px;
}

.Card {
  margin-bottom: 20px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-primary:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
